<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <h1>Driver Information</h1>
    <tr th:if="${driverInformation != null}">
      <p th:text="'Id: ' + ${driverInformation.driverId}" />
      <p th:text="'Number: ' + ${driverInformation.number}" />
      <p th:text="'Code: ' + ${driverInformation.code}" />
      <a th:href="@{${driverInformation.url}}"><p th:text="'Url: ' + ${driverInformation.url}" /></a>
      <p th:text="'Name: ' + ${driverInformation.name}" />
      <p th:text="'Surname: ' + ${driverInformation.surname}" />
      <p th:text="'Date of birth: ' + ${driverInformation.dateOfBirth}" />
      <p th:text="'Nationality: ' + ${driverInformation.nationality}" />
    </tr>
    <a href="/driver-information">Submit another driver</a>
  </body>
</html>