<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>F1 Statistics</h1>
<p><a href="/driver-information" target="_blank">Driver information</a></p></h1>
<p><a href="/driver-constructor" target="_blank">Driver constructor</a></p>
<p><a href="/driver-season-result" target="_blank">Driver season result</a></p>
<p><a href="/constructor-driver" target="_blank">Constructor driver</a></p>
<p><a href="/season-schedule" target="_blank">Season schedule</a></p>
<p><a href="/season-round" target="_blank">Season round</a></p>
<p><a href="/circuit-season" target="_blank">Circuit season</a></p>

</body>
</html>